<%= form_with(model: prestamo, local: true) do |form| %>
  <% if prestamo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prestamo.errors.count, "error") %> prohibited this prestamo from being saved:</h2>

      <ul>
        <% prestamo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.check_box :estado %>
  </div>

  <div class="field">
    <%= form.label :Usuario_id %>
    <%= form.select :Usuario_id, options_for_select(Usuario.all.map{|s|[s.nombres+" "+s.apellidos, s.id]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
